body{
  color: white;
  background-color: #3c3c3c;
  font-family: Arial, Helvetica, sans-serif;
}
.outer-div{

  text-align: left;

}
.inner-div{
  display: inline-block;
  padding-top: 300px;
  padding-left: 20%;

  font-size: 3em;
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
}
.text{
  padding-top: 20px;
  padding-bottom: 33px;
  display: inline-block;
  padding-right: 20%;
  font-size: 3em;
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
}

#logo{
  border-radius: 8px;
  filter: hue-rotate(0deg);
  display: inline-block;
  height: 100px;
  width: 100px;
  //background-color: blue;
}
